/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --clr--primary: #001f3f;

  --clr--secondary: #39cccc;
  --ff--primary: "Sora", sans-serif;
  --clr--txt--primary: white;
  --clr--txt--secondary: #39cccc;
  --clr--txt--tertiary: rgba(211, 211, 211, 0.726);
}

body {
  background: linear-gradient(110deg, var(--clr--primary) 58%, #001a33 58%);
  background-color: var(--clr--primary);
  font-family: var(--ff--primary);
  color: var(--clr--txt--primary);
  padding: 2% 3%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

/* General */

.btn-classic {
  background: none;
  border: solid 1px var(--clr--secondary);
  color: var(--clr--secondary);
  padding: 10px 20px;
  font-weight: 200;
  border-radius: 5px;
  cursor: pointer;
  transition: ease, 0.2s;
}

.btn-classic:hover {
  background: var(--clr--secondary);
  border: solid 1px var(--clr--secondary);
  color: var(--clr--primary);
  padding: 10px 20px;
  font-weight: 200;
  border-radius: 5px;
}

.section-header {
  font-size: 28px;
  font-weight: 400;
  color: var(--clr--txt--primary);
  position: relative;
  width: fit-content;
  margin-bottom: 40px;
}

.section-sub-header {
  font-size: 20px;
  font-weight: 200;
  color: var(--clr--txt--primary);
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
  width: 100%;
}

.section-info {
  font-size: 14px;
  font-weight: 200;
  color: var(--clr--txt--secondary);
}

.section-header:after {
  position: absolute;
  content: "";
  width: 100%;
  top: 110%;
  left: 0;
  height: 1px;
  background-color: var(--clr--secondary);
}

.section-body {
  font-size: 14px;
  font-weight: 200;
  color: var(--clr--txt--tertiary);
  margin-bottom: 30px;
  white-space: pre-line;
}

.section-body span {
  color: var(--clr--txt--primary);
}

/* Header */

.header {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  height: 5vh;
  font-size: 18px;
}

.header a {
  color: var(--clr--txt--secondary);
  text-decoration: none;
}

.header__menu a {
  margin-left: 30px;
  color: var(--clr--txt--primary);
  transition: ease-in-out, 0.1s;
}

.header__menu a:hover {
  color: var(--clr--txt--secondary);
}

/* Socials */

.socials {
  color: var(--clr--secondary);
  position: fixed;
  bottom: 10%;
  left: 4%;
  display: flex;
  flex-direction: column;
}

.socials::before {
  background-color: var(--clr--secondary);
  position: absolute;
  content: "";
  width: 1px;
  height: 100vh;
  left: 49%;
  top: 100%;
}

.socials i {
  position: relative;
  top: 0;
  font-size: 28px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: ease-in-out, 0.15s;
}

.socials i:hover {
  top: -5px;
}

/* Email */

.email {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  bottom: 10%;
  right: 4%;
  display: flex;
  flex-direction: column;
}

.email a {
  position: relative;
  top: 0;
  color: var(--clr--secondary);
  text-decoration: none;
  font-size: 14px;
  transition: ease-in-out, 0.15s;
  font-weight: 200;
}

.email a:hover {
  top: -5px;
}

.email::before {
  background-color: var(--clr--secondary);
  position: absolute;
  content: "";
  width: 1px;
  height: 100vh;
  left: 49%;
  top: 110%;
}

/* Burger Menu */

.burgerMenu {
  display: none;
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 1000;
}

.burgerMenu i {
  font-size: 28px;
}

.burgerMenu a {
  color: var(--clr--txt--secondary);
  text-decoration: none;
}

.burgerMenu__menu a,
.burgerMenu__menu__hidden a {
  color: var(--clr--primary);
  transition: ease-in-out, 0.1s;
  text-decoration: none;
  margin: 10% 0;
  text-transform: capitalize;
}

.burgerMenu__menu a:hover,
.burgerMenu__menu__hidden a:hover {
  color: var(--clr--txt--secondary);
}

.burgerMenu__menu,
.burgerMenu__menu__hidden {
  z-index: 1000;
  color: var(--clr--primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0%;
  right: 0%;
  transition: ease-in-out, 0.2s;
  padding: 0 10%;
  background-color: white;
  width: 100%;
}

.burgerMenu__menu__hidden {
  right: -100%;
}

.burgerMenu__x {
  position: fixed;
  top: 3%;
  right: 5%;
  font-size: 28px;
}

/* Home */

.home {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%7%;
}

.home__hello {
  width: 70%;
}

.home__hello h1 {
  font-size: 18px;
  font-weight: 200;
  color: var(--clr--txt--tertiary);
}

.home__hello h2 {
  font-size: 64px;
  font-weight: 400;
}

.home__hello h3 {
  color: var(--clr--txt--secondary);
  font-size: 28px;
  font-weight: 400;
}

.home__hello p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--clr--txt--tertiary);
  font-size: 18px;
  font-weight: 200;
}

.home__hello span {
  color: var(--clr--txt--primary);
}

/* About */

.about {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.about__description {
  width: 65%;
}

.about__visuals {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about__picture {
  border-radius: 4px;
  filter: grayscale(100%);
}

.about__picture__container {
  width: 100%;
  border-radius: 5px;
  position: relative;
  border: solid 1px var(--clr--secondary);
  margin-bottom: 40px;
}

.about__picture__container::after {
  position: absolute;
  content: "";
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: solid 1px var(--clr--secondary);
  z-index: -1;
  transition: ease-in-out, 0.2s;
}

.about__picture__container:hover::after {
  top: 8%;
  left: 8%;
}

.about__visuals h1 {
  color: var(--clr--secondary);
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
}

.about__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about__stack__icon__container {
  width: 3vw;
  margin: 5px 5px;
  position: relative;
  top: 0;
  transition: ease-in-out, 0.15s;
}

.about__stack__icon__container:hover {
  top: -5px;
}

/* Experience */

.experience {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

.experience__container {
  width: 100%;
  display: flex;
}

.experience__selector {
  width: 20%;
  -webkit-padding-start: 0;
  padding: 0;
  margin: 0;
  color: var(--clr--txt--primary);
}

.experience__selector li {
  padding: 10px 0px 10px 5px;
  border-top: solid 1px var(--clr--secondary);
  font-weight: 200;
  font-size: 16px;
  list-style-type: none;
  cursor: pointer;
}

.experience__selector li:hover {
  color: var(--clr--secondary);
}

.experience__selected {
  color: var(--clr--secondary);
}

.experience__description {
  padding: 20px;
  width: 80%;
  border: solid 1px var(--clr--secondary);
  overflow: hidden;
}

.experience__description p {
  margin-top: 30px;
}

/* Responsive */

@media (max-width: 1024px) {
  /* Header */
  .header {
    display: none;
  }
  /* Home */
  .home {
    height: 90vh;
    padding: 5%0%;
  }
  .home__hello h1 {
    font-size: 14px;
    font-weight: 200;
    color: var(--clr--txt-tertiary);
  }

  .home__hello h2 {
    font-size: 38px;
    font-weight: 400;
  }

  .home__hello h3 {
    color: var(--clr--txt--secondary);
    font-size: 20px;
    font-weight: 400;
  }

  .home__hello p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--clr--txt-tertiary);
    font-size: 14px;
    font-weight: 200;
  }
  /* Socials */
  .socials {
    display: none;
  }
  /* Email */
  .email {
    display: none;
  }
  /* Burger Menu */
  .burgerMenu {
    display: block;
  }
  /* About */
  .about {
    flex-direction: column-reverse;
    width: 80%;
    padding-top: 10vh;
  }
  .about__visuals {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }

  .about__picture__container {
    width: 60%;
  }
  .about__stack {
    flex-direction: column;
  }
  .about__stack__icon__container {
    margin: 5px 0;
    width: 5vw;
  }
  .about__visuals h1 {
    display: none;
  }
  .about__description {
    width: 95%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
